<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
		<title>PG Diff Tools</title>
		<meta name="description" content="MVC">
		<link rel="stylesheet" href="css/css.css">
		<link rel="stylesheet" href="//skit.local/assets/skit-dist/skit.css">
	</head>
	<body>
		<div class="content">
			<div class="grid vcenter mgb2">
				<div class="col-calc-350">
					<h1 class="mgt2 mgb2">PG Diff Tools</h1>
				</div>
				<div class="col-350px">
					<p><a href="/">Início</a> <a href="/pg-match">PG Match</a></p>
				</div>
			</div>
		</div>
		{body}
	</body>
</html>